.mine-field{
  margin: 0 auto;
  border: 1px solid black;
}
.mine-field td{
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 1px solid black;
}

.table-information{
  display: flex;
  justify-content: center;
  text-align: center;
}
.difficulty-levels{
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  button{
    display: block;
  }
}

.input-count{
  text-align: center;
  margin: 0 auto;
  width: 200px;
}


.clock{
  border: 1px dotted black;
}

.bomb{
  background-color: red;
}
.empty{
  background-color: blue;
}
.check{
  background-color: pink;
}
.near-bomb{
  background-color: yellow;
}
.flag{
  background-color: green;
}
