html {
  scroll-behavior: smooth; }

body {
  position: relative; }

.link_to_main {
  text-decoration: none; }

.logo_link {
  text-decoration: none; }

.dark_button {
  display: block;
  width: 207px;
  height: 52px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #F1CDB3;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 1s; }

.dark_button:hover {
  background-color: #FDDCC4; }

.light_button {
  display: block;
  width: 207px;
  height: 52px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  transition: 1s; }

.light_button:hover {
  background-color: #FDDCC4; }

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 40px;
  max-width: 1280px; }

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px; }

.logo {
  width: 184px;
  height: 60px; }
  .logo p:first-child {
    font-family: Georgia;
    font-size: 32px;
    line-height: 110%;
    font-weight: 400;
    color: #545454;
    margin: 0;
    letter-spacing: 0.04em;
    text-align: center; }
  .logo p:nth-child(2) {
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    margin: 0px;
    padding-top: 10px;
    color: #292929;
    letter-spacing: 0.11em;
    text-align: center; }

.navigation .list_of_navigation {
  display: flex;
  justify-content: space-between;
  width: 443px;
  list-style-type: none; }
  .navigation .list_of_navigation .elemet_of_navigation a {
    padding-bottom: 3px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    color: #545454;
    text-decoration-line: none; }
  .navigation .list_of_navigation .elemet_of_navigation a:hover {
    border-bottom: 3px solid #F1CDB3; }
  .navigation .list_of_navigation .active_link a {
    padding-bottom: 3px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    color: #545454;
    text-decoration-line: none;
    border-bottom: 3px solid #F1CDB3; }

.main {
  background-color: #F6F6F6; }

.friends_looking_for {
  display: flex;
  flex-direction: column; }
  .friends_looking_for h1 {
    margin: 0px;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454; }
  .friends_looking_for .collection_of_pets {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    align-items: center;
    justify-content: space-between;
    row-gap: 30px; }
    .friends_looking_for .collection_of_pets .pet {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 9px;
      width: 270px;
      height: 435px;
      background-color: #FAFAFA; }
      .friends_looking_for .collection_of_pets .pet .img_pet {
        display: block; }
      .friends_looking_for .collection_of_pets .pet .pet_name {
        text-align: center;
        margin-top: 28px;
        margin-bottom: 30px;
        font-family: Georgia;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454; }
      .friends_looking_for .collection_of_pets .pet .button_learn_more {
        width: 187px; }
  .friends_looking_for .status_bar {
    width: 340px;
    margin: 57px auto 95px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .friends_looking_for .status_bar .circle {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      cursor: pointer; }
      .friends_looking_for .status_bar .circle .jackdaw {
        display: block;
        margin: 0 auto;
        padding-top: 20px; }
    .friends_looking_for .status_bar .circle_left_double .jackdaw {
      transform: rotate(180deg);
      margin: 20px auto; }
    .friends_looking_for .status_bar .circle_left .jackdaw {
      transform: rotate(180deg);
      margin: 20px auto; }
    .friends_looking_for .status_bar .inactive_circle {
      border: 2px solid #CDCDCD;
      pointer-events: none; }
    .friends_looking_for .status_bar .active_circle {
      border: 2px solid #F1CDB3;
      transition: 1s; }
    .friends_looking_for .status_bar .active_circle:hover {
      background-color: #F1CDB3; }
    .friends_looking_for .status_bar .circle_number {
      background-color: #F1CDB3; }
      .friends_looking_for .status_bar .circle_number span {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 15px;
        font-family: Georgia;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em; }

.background_footer {
  height: 350px;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%); }
  .background_footer .footer_section {
    display: flex;
    justify-content: space-between;
    padding-top: 40px; }
    .background_footer .footer_section .questions {
      width: 280px;
      height: 234px;
      padding-top: 20px; }
      .background_footer .footer_section .questions h3 {
        margin: 0;
        font-family: Georgia;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF; }
      .background_footer .footer_section .questions .mail {
        cursor: pointer;
        padding-top: 20px; }
        .background_footer .footer_section .questions .mail a {
          display: flex;
          text-decoration: none;
          font-family: Georgia;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: #F1CDB3; }
          .background_footer .footer_section .questions .mail a p {
            padding-left: 20px; }
      .background_footer .footer_section .questions .phone {
        cursor: pointer;
        padding-top: 10px; }
        .background_footer .footer_section .questions .phone a {
          display: flex;
          text-decoration: none;
          font-family: Georgia;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: #F1CDB3; }
          .background_footer .footer_section .questions .phone a p {
            padding-left: 20px; }
    .background_footer .footer_section .address {
      width: 302px;
      height: 234px;
      padding-top: 20px; }
      .background_footer .footer_section .address h3 {
        margin: 0;
        padding-top: px;
        font-family: Georgia;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF; }
        .background_footer .footer_section .address h3 br:nth-child(1) {
          display: block; }
        .background_footer .footer_section .address h3 br:nth-child(2) {
          display: none; }
      .background_footer .footer_section .address .boston_address {
        padding-top: 10px; }
        .background_footer .footer_section .address .boston_address a {
          display: flex;
          text-decoration: none;
          font-family: Georgia;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: #F1CDB3; }
          .background_footer .footer_section .address .boston_address a p {
            padding-left: 20px; }
      .background_footer .footer_section .address .london_address a {
        display: flex;
        text-decoration: none;
        font-family: Georgia;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3; }
        .background_footer .footer_section .address .london_address a p {
          padding-left: 20px; }
    .background_footer .footer_section .footer_doggy {
      display: block; }

@media screen and (max-width: 1290px) {
  .main .friends_looking_for .collection_of_pets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

  .footer .background_footer {
    height: 667px; }
    .footer .background_footer .footer_section {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-content: center; }
      .footer .background_footer .footer_section .questions {
        position: relative;
        left: -3px;
        grid-column: 1 / 3;
        justify-self: center;
        align-self: start; }
      .footer .background_footer .footer_section .address {
        position: relative;
        left: -7px;
        grid-column: 3 / 5;
        justify-self: center;
        align-self: start; }
      .footer .background_footer .footer_section .footer_doggy {
        position: relative;
        left: 14px;
        top: 5px;
        grid-column: 2 / 4; } }
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 768px;
    padding: 30px 30px; }

  .main .friends_looking_for h1 {
    padding-top: 51px;
    padding-bottom: 9px; }
  .main .friends_looking_for .collection_of_pets {
    column-gap: 40px; }
    .main .friends_looking_for .collection_of_pets .pet:nth-child(7) {
      display: none; }
    .main .friends_looking_for .collection_of_pets .pet:nth-child(8) {
      display: none; }
  .main .status_bar {
    margin-top: 37px;
    margin-bottom: 44px; }

  .footer .background_footer {
    height: 641px; }
    .footer .background_footer .wrapper {
      padding-top: 12px;
      padding-bottom: 0px; } }
@media (max-width: 767px) {
  .border_for_burger {
    overflow: hidden; }
    .border_for_burger .transparent_background_none {
      display: none;
      z-index: 10;
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100vh;
      background-color: black;
      opacity: 0;
      transition: 1s; }
    .border_for_burger .transparent_background_show {
      display: block;
      z-index: 10;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100vw;
      height: 100vh;
      background-color: black;
      opacity: 0.6;
      transition: 1s; }
    .border_for_burger .header .navigation {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative; }
      .border_for_burger .header .navigation .burger_menu {
        z-index: 1000;
        transition: 1s; }
        .border_for_burger .header .navigation .burger_menu span {
          display: block;
          height: 2px;
          width: 30px;
          background-color: #F1CDB3; }
        .border_for_burger .header .navigation .burger_menu span:nth-child(2) {
          margin-top: 8px;
          margin-bottom: 8px; }
      .border_for_burger .header .navigation .burger_menu_rotate {
        z-index: 1000;
        transform: rotate(90deg);
        transition: 1s; }
        .border_for_burger .header .navigation .burger_menu_rotate span {
          display: block;
          height: 2px;
          width: 30px;
          background-color: #F1CDB3; }
        .border_for_burger .header .navigation .burger_menu_rotate span:nth-child(2) {
          margin-top: 8px;
          margin-bottom: 8px; }
      .border_for_burger .header .navigation .list_of_navigation {
        z-index: 500;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: -50px;
        right: -420px;
        background-color: #292929;
        width: 320px;
        height: 850px;
        row-gap: 40px;
        padding-left: 30px;
        padding-right: 30px;
        transition: 1s; }
        .border_for_burger .header .navigation .list_of_navigation .elemet_of_navigation {
          display: block; }
          .border_for_burger .header .navigation .list_of_navigation .elemet_of_navigation a {
            padding-bottom: 3px;
            font-family: Arial;
            font-size: 32px;
            font-weight: 400;
            color: #FAFAFA;
            text-decoration-line: none; }
          .border_for_burger .header .navigation .list_of_navigation .elemet_of_navigation a:hover {
            border-bottom: 3px solid #F1CDB3; }
        .border_for_burger .header .navigation .list_of_navigation .active_link a {
          padding-bottom: 3px;
          font-family: Arial;
          font-size: 32px;
          font-weight: 400;
          color: #FAFAFA;
          text-decoration-line: none;
          border-bottom: 3px solid #F1CDB3; }
      .border_for_burger .header .navigation .list_of_navigation_show {
        z-index: 500;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: -50px;
        right: -30px;
        background-color: #292929;
        width: 320px;
        height: 850px;
        row-gap: 40px;
        padding-left: 30px;
        padding-right: 30px;
        transition: 1s; }
        .border_for_burger .header .navigation .list_of_navigation_show .elemet_of_navigation {
          display: block; }
          .border_for_burger .header .navigation .list_of_navigation_show .elemet_of_navigation a {
            padding-bottom: 3px;
            font-family: Arial;
            font-size: 32px;
            font-weight: 400;
            color: #FAFAFA;
            text-decoration-line: none; }
          .border_for_burger .header .navigation .list_of_navigation_show .elemet_of_navigation a:hover {
            border-bottom: 3px solid #F1CDB3; }
        .border_for_burger .header .navigation .list_of_navigation_show .active_link a {
          padding-bottom: 3px;
          font-family: Arial;
          font-size: 32px;
          font-weight: 400;
          color: #FAFAFA;
          text-decoration-line: none;
          border-bottom: 3px solid #F1CDB3; } }
@media screen and (max-width: 730px) {
  .main .friends_looking_for {
    padding-right: 10px;
    padding-left: 10px; }
  .main .status_bar {
    width: 300px; }

  .footer .background_footer .footer_section {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer .background_footer .footer_section .footer_doggy {
      display: none; } }
@media screen and (max-width: 320px) {
  .wrapper {
    max-width: 320px;
    padding: 30px 20px; }

  .background_header {
    min-height: auto;
    height: 822px; }

  .header {
    align-items: center; }

  .main .friends_looking_for h1 {
    font-size: 25px;
    padding-top: 12px;
    padding-bottom: 23px; }
  .main .friends_looking_for .collection_of_pets .pet:nth-child(4) {
    display: none; }
  .main .friends_looking_for .collection_of_pets .pet:nth-child(5) {
    display: none; }
  .main .friends_looking_for .collection_of_pets .pet:nth-child(6) {
    display: none; }
  .main .status_bar {
    margin-bottom: 12px; }

  .footer .background_footer {
    height: 816px; }
    .footer .background_footer .footer_section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px; }
      .footer .background_footer .footer_section .questions {
        align-self: center;
        left: 0px; }
        .footer .background_footer .footer_section .questions h3 {
          font-size: 25px;
          text-align: center; }
          .footer .background_footer .footer_section .questions h3 br {
            display: none; }
        .footer .background_footer .footer_section .questions .mail {
          padding-left: 13px; }
        .footer .background_footer .footer_section .questions .phone {
          padding-left: 20px; }
      .footer .background_footer .footer_section .address {
        padding-top: 12px;
        align-self: center;
        left: 0px; }
        .footer .background_footer .footer_section .address h3 {
          font-size: 25px;
          text-align: center; }
          .footer .background_footer .footer_section .address h3 br:nth-child(1) {
            display: none; }
          .footer .background_footer .footer_section .address h3 br:nth-child(2) {
            display: block; }
        .footer .background_footer .footer_section .address .boston_address {
          padding-top: 21px; }
      .footer .background_footer .footer_section .footer_doggy {
        display: block;
        left: 0px; }
        .footer .background_footer .footer_section .footer_doggy img {
          padding-top: 31px;
          display: block;
          width: 260px;
          height: 269px; } }

/*# sourceMappingURL=style_pets.css.map */
